body {
  background-image: url("https://images.pexels.com/photos/1819650/pexels-photo-1819650.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

input {
  margin-top: 10px;
  margin-left: 20px;
  background-color: #dff0e7;
  border: solid 1px #7a455b;
  border-radius: 4px;
  padding: 6px 12px;
  color: #7a455b;
}

input:focus {
  outline: none;
}

small {
  color: white;
}
a {
  color: white;
}

#icon {
  width: 150px;
  position: relative;
  right: 28px;
}

::placeholder {
  color: #7a455b;
  opacity: 60%;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.weather-app {
  background-image: url("https://images.pexels.com/photos/1478524/pexels-photo-1478524.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  color: #7a455b;
  max-width: 800px;
  display: block;
  margin: 20px 0 0 0;
  border: 1px solid #7a455b;
  border-radius: 20px;
}

.date {
  font-size: larger;
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

.time {
  font-size: larger;
  margin-right: 20px;
  text-align: right;
}

.search-btn {
  border-color: #01251a;
  color: #01251a;
  margin-bottom: 15px;
  margin-left: 5px;
}
.search-btn:hover {
  background-color: #01251a;
  border-color: #01251a;
  color: #d8ceca;
}

/*.location-btn {
  margin-left: 20px;
  border-color: #01251e;
  color: #01251e;
}
.location-btn:hover {
  background-color: #7a455b;
  border-color: #7a455b;
  color: #d8ceca;
}*/

.current {
  margin-top: 20px;
}
.city {
  margin-bottom: 5px;
}

#description {
  font-size: large;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

#description:first-letter {
  text-transform: capitalize;
}

.current-temp {
  font-weight: normal;
  font-size: 25px;
  position: relative;
  bottom: 16px;
  right: 45px;
}

.unit {
  border-color: #7a455b;
  color: #7a455b;
  size: 25px;
  padding: 0 8px;
  font-size: 25px;
  position: relative;
  bottom: 19px;
  right: 43px;
  z-index: 1;
}

.unit:hover {
  background-color: #7a455b;
  border-color: #7a455b;
  color: #d8ceca;
}

.feels {
  font-size: large;
  font-weight: normal;
  position: relative;
  bottom: 67px;
  left: 112px;
}

.conditions {
  position: relative;
  text-align: left;
  bottom: 193px;
  left: 613px;
  font-size: large;
}

.row {
  margin: -40px 10px 20px;
}

.col {
  border: 1px solid #7a455b;
  border-radius: 20px;
  margin: 0 10px;
  text-align: center;
}

.day {
  margin-top: 5px;
  margin-bottom: -10px;
}

.temp {
  margin-top: -10px;
  margin-bottom: 5px;
}

#emoji {
  max-width: 60px;
}
