body {
  background-image: url("https://images.pexels.com/photos/314726/pexels-photo-314726.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  margin-top: 20px;
  margin-left: 80px;
  text-align: left;
}

input {
  margin-top: 10px;
  margin-left: 30px;
  background-color: #dff0e7;
  border: solid 1px white;
  border-radius: 4px;
  padding: 6px 12px;
}

input:focus {
  outline: none;
}

small {
  color: rgb(4, 9, 82);
  font-weight: bold;
}
a {
  color: rgb(4, 9, 82);
}

#icon {
  width: 100px;
  position: relative;
  right: 28px;
}

::placeholder {
  color: rgb(26, 16, 16);
  opacity: 70%;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.weather-app {
  background-image: url("https://images.pexels.com/photos/2011367/pexels-photo-2011367.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  color: white;
  max-width: 800px;
  display: block;
  margin: 20px 0px 0px 0px;
  border: 3px solid white;
  border-radius: 30px;
}

.date {
  font-size: larger;
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
  font-weight: bolder;
}

.time {
  font-size: larger;
  margin-right: 20px;
  text-align: right;
  font-weight: bolder;
}

.search-btn {
  border-color: white;
  color: white;
  margin-bottom: 15px;
  margin-left: 5px;
}
.search-btn:hover {
  background-color: white;
  border-color: white;
  color: #d8ceca;
}

.current {
  margin-top: 20px;
}
.city {
  margin-bottom: 5px;
}

#description {
  font-size: large;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

#description:first-letter {
  text-transform: capitalize;
}

.current-temp {
  font-weight: normal;
  font-size: 25px;
  position: relative;
  bottom: 16px;
  right: 45px;
}

.unit {
  border-color: white;
  color: white;
  size: 25px;
  padding: 0 8px;
  font-size: 25px;
  position: relative;
  bottom: 19px;
  right: 43px;
  z-index: 1;
}

.unit:hover {
  background-color: white;
  border-color: white;
  color: #d8ceca;
}

.feels {
  font-size: large;
  font-weight: normal;
  position: relative;
  bottom: 80px;
  left: 120px;
}

.conditions {
  position: relative;
  text-align: left;
  bottom: 193px;
  left: 613px;
  font-size: large;
  font-weight: 600;
}

.row {
  margin: -60px 10px 20px;
}

.col {
  border: 1px solidwhite;
  border-radius: 10px;
  margin: 10px 10px;
  text-align: center;
}

.day {
  margin-top: 5px;
  margin-bottom: -10px;
}

.temp {
  margin-top: -10px;
  margin-bottom: 5px;
}

#emoji {
  max-width: 50px;
}
